<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hss.renthouse.admins.rental.dao.RentalMapper">

	<!-- 查询所有租金 -->
	<resultMap type="rental" id="getRentalsResultMap">
		<id column="cid" property="cid" />
		<result column="uid" property="uid" />
		<result column="cname" property="cname" />
		<result column="ctele" property="ctele" />
		<result column="cstime" property="cstime" />
		<result column="cetime" property="cetime" />
		<result column="payType" property="payType" />
		<result column="cashType" property="cashType" />
		<result column="ccash" property="ccash" />
		<result column="crtime" property="crtime" />
		<result column="cpaytime" property="cpaytime" />
		<association property="admin" javaType="admin">
			<id column="aid" property="aid" />
			<result column="aname" property="aname" />
		</association>
		<association property="house" javaType="house">
			<id column="hid" property="hid" />
			<result column="hposition" property="hposition" />
			<result column="hprice" property="hprice" />
		</association>
	</resultMap>
	<select id="queryAllRentals" parameterType="bQueryVo" resultMap="getRentalsResultMap">
	</select>
	<!-- 查询租客总数 -->
	<select id="queryRentalsTotal" resultType="integer">
		select count(*) from
		t_rental
	</select>

	<!-- 新增租金记录 -->
	<insert id="addRental" parameterType="rental">
		insert into t_rental
		values
		(
		#{mid}, #{mname}, #{mtele}, #{mptime}, #{mstime}, #{mtime}, #{mntime},
		#{mprice}, #{uid}
		)
	</insert>
</mapper> 